:root {
  --dark-shade0: #313238;
  
  --dark-shade1: #4C4D52;
  
  --dark-shade2: #67676C;
  
  --dark-shade3: #828286;
  
  --dark-shade4: #9D9D9F;
  
  --dark-shade5: #B8B8B9;
  
  --dark-shade6: #D3D2D3;
  
  --dark-shade7: #EEEDED;
  
  --dark-accent0: #D3290F;
  
  --dark-accent1: #E6770B;
  
  --dark-accent2: #FFD24A;
  
  --dark-accent3: #52D053;
  
  --dark-accent4: #21A2B0;
  
  --dark-accent5: #5891BC;
  
  --dark-accent6: #B772D0;
  
  --dark-accent7: #D30F43;
}